<!DOCTYPE html>

<html>
    <head>
        <title>Графици од сите сензори во Хаклаб на COSM</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h2>Internet of things во Хаклаб</h2>
        <ul>
            <li><a href="#temperature">Температурата во Хаклаб последните 24 часа</a></li>
            <li><a href="#lan_devices">Број на активни мрежни уреди последните 7 денови</a></li>
            <li><a href="#hacklab_status">Статус на Хаклабот (отворен/затворен) последните 7 денови</a></li>
        </ul>
        <small>(за динамички графици кликни на секој од графиците)</small>

        <a name="temperature" /><h3>Температурата во Хаклаб</h3>
        <p>Во хаклаб има четири температурни сензори со кои ја <a href="http://wiki.spodeli.org/%D0%A5%D0%B0%D0%BA%D0%BB%D0%B0%D0%B1/%D0%A2%D0%B5%D0%BC%D0%BF%D0%B5%D1%80%D0%B0%D1%82%D1%83%D1%80%D0%B0">мериме</a> температурата во трите соби и на тераса.</p>
        <a title="За динамичен график кликни на сликава" href="https://cosm.com/feeds/64655#hardware_room"><img src="https://api.cosm.com/v2/feeds/64655/datastreams/hardware_room.png?width=730&height=250&colour=%23f15a24&duration=1day&title=Hardware%20room&stroke_size=1&show_axis_labels=true&detailed_grid=true&scale=auto&timezone=Skopje&stroke_size=3" /></a>
        <br />
        <a title="За динамичен график кликни на сликава" href="https://cosm.com/feeds/64655#lounge_area"><img src="https://api.cosm.com/v2/feeds/64655/datastreams/lounge_area.png?width=730&height=250&colour=%23f15a24&duration=1day&title=Lounge%20area&stroke_size=1&show_axis_labels=true&detailed_grid=true&scale=auto&timezone=Skopje&stroke_size=3" /></a>
        <br />
        <a title="За динамичен график кликни на сликава" href="https://cosm.com/feeds/64655#random_room"><img src="https://api.cosm.com/v2/feeds/64655/datastreams/random_room.png?width=730&height=250&colour=%23f15a24&duration=1day&title=Random%20room&stroke_size=1&show_axis_labels=true&detailed_grid=true&scale=auto&timezone=Skopje&stroke_size=3" /></a>
        <br />
        <a title="За динамичен график кликни на сликава"  href="https://cosm.com/feeds/64655#outside"><img src="https://api.cosm.com/v2/feeds/64655/datastreams/outside.png?width=730&height=250&colour=%23f15a24&duration=1day&title=Outside&stroke_size=1&show_axis_labels=true&detailed_grid=true&scale=auto&timezone=Skopje&stroke_size=3" /></a>
        <br />

        <a name="lan_devices" /><h3>Број на активни мрежни уреди</h3>
        <p>На рутерот во Хаклаб има <a href="https://gist.github.com/2982606">скрипта</a> која ги праќа бројот на lan уредите на Cosm. На status.spodeli.org имаме друга скрипта која исто така ја врзува и твојата твитер сметка со компјутерот.</p>
        <a  title="За динамичен график кликни на сликава" href="https://cosm.com/feeds/64676#lan_devices"><img src="https://api.cosm.com/v2/feeds/64676/datastreams/lan_devices.png?width=730&height=250&colour=%23f15a24&duration=1week&title=Lan%20devices&stroke_size=1&show_axis_labels=true&detailed_grid=true&scale=auto&timezone=Skopje&stroke_size=1" /></a>

        <a name="hacklab_status"/><h3>Статус на Хаклабот (отворен/затворен)</h3>
        <p>На влезната во Хаклаб има <a href="http://wiki.spodeli.org/Хаклаб/Статус">прекинувач</a> и првата и последната личност што ќе влезе/излезе го вклучува или исклучува хаклабот. Состојбата на прекинувачот се графира на Cosm, плус има правила кои твитаат дали Хаклабот е отворен или затворен.</p>
        <a  title="За динамичен график кликни на сликава" href="https://cosm.com/feeds/86779"><img src="https://api.cosm.com/v2/feeds/86779/datastreams/hacklab_status.png?width=730&height=250&colour=%23f15a24&duration=1week&title=Hacklab%20status&stroke_size=1&show_axis_labels=true&detailed_grid=true&scale=auto&timezone=Skopje&stroke_size=1" /></a>
    </body>
</html>