<!DOCTYPE html>
<html>
<head>
    <title>Уреди во Хаклаб Кика</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
        body {
            font-family: Verdana;
            font-size: 14px;
        }

        #names {
            list-style: none;
            clear: both;
        }

        #names li a {
            font-size: 18px;
            margin-left: 10px;
            color: #A83;
            text-decoration: none;

        }

        #names li {
            margin: 5px;
            float: left;
            width: 280px;
        }

        #names img {
            width: 30px;
            vertical-align:middle;
        }
        .temp .lcd {
            background-image: url(/public/img/lcd.png);
            width: 36px;
            height: 50px;
            display: block;
            float: left;
        }

        .temp .dot {
            height: 50px;
            display: block;
            font-size: 48px;
            float: left;
        }

        .temp .tag {
            position:absolute;
            right:-0.66em;
            top:-0.66em;
            font-size:12px;
            padding:0.1em 0.3em 0.2em 0.3em;
            background-color:rgba(140,110,70,0.5);
            text-shadow: 0 0 0.5em #432;
            color:#fff;
        }
        .temp {
            position:relative;
            float:left;
            margin-right:2em;
            padding: 0.7em 0.5em;
            background-color: #EEC;
            width: 9.5em;
            border: solid 1px #BB8;
            box-shadow: 0px 0px 10px #bb8;
            color: rgba(0, 0, 0, 0.5);
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        }

        .clearfix:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
    </style>
</head>
<body>
<a href="http://github.com/spion/kika-devices"><img style="position: absolute; top: 0; right: 0; border: 0;"
                                                    src="https://a248.e.akamai.net/assets.github.com/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67"
                                                    alt="Fork me on GitHub"></a>

<div style="width:620px; margin:auto;">
    <h1>Уреди во Хаклаб Кика</h1>

    <h2>Моментално има <b id="count">??</b> уред<span id="plural">и</span> на мрежата во хаклаб.</h2>

    <p>Хаклабот беше <span id="status">напуштен</span> пред <span id="status-dur">0m</span>

    <p>Историја на присутни</p>

    <div style="width:600px; height:150px;" id="plot">
    </div>

    <p>Најавени присутни</p>
    <ul id="names" class="clearfix">
    </ul>


    <p><a href="/cosm#temperature">Моментална температура (℃) (повеќе...)</a></p>

    <div class="clearfix">
       <div id="temp_hw" class="temp">
       </div>
       <div id="temp_random" class="temp">
       </div>
       <div id="temp_lounge" class="temp">
       </div>
    </div>



    <p style="clear:both; padding-top:0.5em;">Сакаш да учествуваш во листата на присутни? <a href="/config">Логирај се
        преку Twitter</a> и додај ги твоите MAC адреси.
        MAC адресата можеш да ја добиеш со </p>
    <pre>ifconfig | grep HWaddr</pre>

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://people.iola.dk/olau/flot/jquery.flot.js"></script>
<script type="text/javascript" src="/public/js/index.js"></script>
</body>
</html>
